@font-face {
    font-family: 'zabars';
    src: url(font/zabars.ttf) format('truetype');
}

.zabars {
    font-family: 'zabars';
}

.d-none {
    display: none !important;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("img/9_intro_outro_screens/start/desert.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    margin-top: 0;
    font-size: 6rem;
    letter-spacing: 10px;
    color: #FFDD02;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    text-align: center;

}

canvas {
    display: block;

}

.background {
    background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Controls on top of Canvas */

.control_layer {
    height: 20px;
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    font-family: 'zabars';
    overflow: visible;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.control_layer img {
    width:30px;
    height: auto;
    padding-left: 5px;
}

.control_layer_div {
    display: flex;
    align-items: center;
}



/* Menu */

.menubar {
    
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    top: 80%;

}

.menubar button {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
    font-family: 'zabars';
    background-color: #FFDD02;
    border-color: #E76734;
    border-radius: 6px;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    margin-bottom: 160px;
}

.menubar button:hover {
    transform: scale(1.2);
}

/* Settings menu */

.settings_menu {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}


.settings_inner {
    font-family: 'zabars';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.settings_br {
    background-image: url(./img/10_menu/wood.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
}

.settings_inner h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 8vw;
    letter-spacing: 10px;
    color: #FFDD02;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.settings_inner p {
    font-size: 3vw;
    color: #fafa5a;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);   
    margin: 10px;
}

.door {
    width: 5vw !important;
    height: 5vw !important;
    cursor: pointer;
    padding-top: 10px;
       
}

.door:hover {
    transform: scale(1.2);
}

.slidecontainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* Controls menu*/

.setting_controls {
    display: flex;
    flex-direction: row-reverse;
    
}

.phone {
    width: 50%;
    padding-left: 5px;
}

.phone img{
    width: 20vw;
    cursor: pointer;
}



.touch_img {
    position: absolute;
    padding-top: 5px;
    width: 70vw;
    height: 70vh;
}

.keyboard {
    width: 50%;
    
}

.buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-right: 5px;
}

.buttons img {
    width: 3vw;
}


/* Welcome Window */

#welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #e7673458;
}

.welcome_window {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    padding: 10px;
    background-color: azure;
    text-align: center;
}

.welcome_window button {
    cursor: pointer;
}

/* Game over screen */

.game_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/9_intro_outro_screens/start/desert.png");
}

.game_over img {
    width: 100%;
    height: 100%;
}

.end_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    width: 50%;

}

.end_buttons button {
    width: 150px;
    height: fit-content;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'zabars';
    background-color: #FFDD02;
    border-color: #E76734;
    border-radius: 6px;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    margin-bottom: 160px;
}

.end_buttons button:hover {
    transform: scale(1.2);
}

.game_over_messege {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    font-family: 'zabars';
}

/* Game Over Collected Coins */

.coins_collect {
    position: inherit;
    top: 15%;
    font-family: 'zabars';
    color: #E76734;
    text-align: center;
    font-size: 1.8rem;
    padding: 0;
}

.coins_collect p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

/* Touch Overlay for Smartphones*/

.overlay {
    display: block;
    position: absolute;
    width: 720px;
    height: 480px; 
}

.touch_buttons {
    
    width: 50%;
    height: 50%;
}

#right_down {
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#right_up {
    position: absolute;
    right: 0;
    top:0;
    
}

#left_down {
    position: absolute;
    left: 0;
    bottom: 0;
    
}

#left_up {
    position: absolute;
    left: 0;
    top: 0;
    
}


/*Responsive Settings for Smartphones */

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .overlay {
        width: 100%;   
    }

    .control_layer {
        width: 100%;
        display: none;
    }



}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .overlay {

        height: 100vh;
    }
    .control_layer {
        width: 100%;
        display: none;
    }

}


