@font-face {
    font-family: 'zabars';
    src: url(font/zabars.ttf) format('truetype');
}

.zabars {
    font-family: 'zabars';
}

.d-none {
    display: none !important;
}

.bgr {
    background-color: #E76734;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100svh;
    background-image: url("./img/9_intro_outro_screens/start/desert.png");
    background-repeat: no-repeat;
    background-size: 100vw 100svh;
    overflow: hidden;
}

h1 {
    position: absolute;
    margin-top: 0;
    font-size: 6rem;
    letter-spacing: 10px;
    color: #FFDD02;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    text-align: center;
}

canvas {
    display: block;
}

.background {
    background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Controls on top of Canvas */

.control_layer {
    height: 20px;
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    font-family: 'zabars';
    overflow: visible;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.control_layer img {
    width: 30px;
    height: auto;
    padding-left: 5px;
}

.control_layer_div {
    display: flex;
    align-items: center;
}

/* Menu */

.menubar {
    width: 100%;
    max-width: 720px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 80%;
}

.menubar button {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
    font-family: 'zabars';
    background-color: #FFDD02;
    border-color: #E76734;
    border-radius: 6px;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    margin-bottom: 160px;
}

.menubar button:hover {
    transform: scale(1.2);
}
.menubar button:first-child {
    transform: scale(1.2);
    transform: translate(0px,-30px);
    margin-left: 20px;
}
.menubar button:last-child {
    transform: scale(1.2);
    transform: translate(0px,-30px);
    margin-right: 20px;
}


/* Settings menu */

.settings_menu {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.settings_inner {
    font-family: 'zabars';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.settings_br {
    background-image: url(./img/10_menu/wood.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90vw;
    height: 100svh;
}

.settings_inner h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 8vw;
    letter-spacing: 10px;
    color: #FFDD02;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.settings_inner p {
    font-size: 3vw;
    color: #fafa5a;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
}

.door {
    width: 5vw !important;
    height: 5vw !important;
    cursor: pointer;
    padding-top: 10px;
}

.door:hover {
    transform: scale(1.2);
}

.slidecontainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Controls menu*/

.setting_controls {
    display: flex;
    flex-direction: row-reverse;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 5px;
}

.phone img {
    width: 20vw;
    cursor: pointer;
}

.touch_buttons {
    position: absolute;
    width: 80vw;
    height: 80vw;
}

.touch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60vw;
    height: 60vh;
}

.touch img {
    position: absolute;
    width: 100%;
}

.keyboard {
    width: 50%;

}

.buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-right: 5px;
}

.buttons img {
    height: 3vw;
}

/* Landscape mod */

#landscape_mode {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #e7673458;
    z-index: -5;
    visibility: hidden;
}

#landscape_mode img {
    width: 40px;
}

/* Welcome Window */

#welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #e7673458;
}

.welcome_window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-family: 'zabars';
    font-size: 4vw;
    background-image: url(./img/10_menu/wood.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 90vw;
    height: 100svh;
}

.welcome_window button {
    cursor: pointer;
    background-color: #FFDD02;
    border-color: #E76734;
    border-radius: 6px;
    font-family: 'zabars';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 4vw;
    margin-top: 5%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome_window img {
    margin-top: 5%;
}

.welcome_window p {
    padding: 20%;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: #fafa5a;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.welcome_window span {
    font-size: 3vw;
}

.welcome_window button:hover {
    transform: scale(1.2);
}

/* Game Over screen */

.game_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/9_intro_outro_screens/start/desert.png");
}

.game_over {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_over img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.end_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 85%;
    width: 70%;
}

.end_buttons button {
    height: fit-content;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'zabars';
    background-color: #FFDD02;
    border-color: #E76734;
    border-radius: 6px;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    margin-bottom: 160px;
}

.end_buttons button:hover {
    transform: scale(1.2);
}

.game_over_messege {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'zabars';
    border-color: #E76734;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

/* Game Over Collected Coins */

.coins_collect {
    position: absolute;
    bottom: 20%;
    font-family: 'zabars';
    color: #E76734;
    text-align: center;
    font-size: 3rem;
    padding: 0;
}

.coins_collect p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

/* Touch Overlay for Smartphones*/

.overlay {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100svh;
}

.touch_buttons {
    width: 50%;
    height: 50%;
}

#right_down {
    position: absolute;
    bottom: 0;
    right: 0;
}

#right_up {
    position: absolute;
    right: 0;
    top: 0;
}

#left_down {
    position: absolute;
    left: 0;
    bottom: 0;
}

#left_up {
    position: absolute;
    left: 0;
    top: 0;
}

/*Responsive Settings for Smartphones */

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .overlay {
        width: 100%;
    }

    .control_layer {
        width: 100%;
        display: none;
    }

    .welcome_window button {
        margin-top: 5%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
    }

    .overlay {
        height: 100svh;
    }

    .control_layer {
        width: 100%;
        display: none;
    }
}

/* Landscape mod */

@media only screen and (max-width: 420px) {
    #landscape_mode {
        visibility: visible;
        z-index: 5;
    }

    .welcome_window p {
        text-shadow: 2px 2px 8px rgb(233, 11, 11);
    }
}